<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <title>Home</title>
</head>
<body>
    <!-- <navbar> -->
    <style> 
        .social-icon {
          color: dimgrey;
          margin-right: 30px; 
        }
    </style>

    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark" style="background-color: #060606;" data-mdb-theme="dark">
        <div class="container-fluid">
        <div>
            <span class="ms-2">
    
                <a style="text-decoration:none;" href="https://sg.linkedin.com/in/ng-xuan-yi-1234567890" target="blank" class="social-icon">
                    <i class="bi bi-linkedin" ></i>
                </a>
            
                <a style="text-decoration:none;" href="https://www.facebook.com/" target="blank" class="social-icon">
                    <i class="bi bi-facebook"></i>
                </a>
            
                <a style="text-decoration:none;" href="https://github.com/ngxuanyi" target="blank" class="social-icon">
                    <i class="bi bi-github"></i>
                </a>
            
                <a style="text-decoration:none;" href="https://www.instagram.com/" target="blank" class="social-icon">
                    <i class="bi bi-instagram"></i>
                </a> 
            
                <a style="text-decoration:none;" href="https://www.youtube.com/" target="blank" class="social-icon">
                    <i class="bi bi-youtube"></i>
                </a>
            
                <a style="text-decoration:none;" href="https://www.twitter.com/" target="blank" class="social-icon">
                    <i class="bi bi-twitter"></i>
                </a>
            </span>   
        </div>
        <div class="navbar-header">
            <div class="text-center">
            <img data-th-src="${'/images/XYZdrk.png'}" class="img-logo" alt="logo" height="60px" width="60px" >
            </div>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-th-href="@{/dictionary/search}">Dictionary</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" data-th-href="@{/dictionary/history/{username}(username=${username})}">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-th-href="@{/dictionary/docs}">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-th-href="@{/dictionary/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="text-center" style="margin: 40px; padding-right: 30px;">
    <H3> Home </H3> 
    </div>
    <div class="text-center" style="margin: 30px; padding-right: 30px;">
    <span> Welcome back,</span> 
    <span class="fw-bold" data-th-object="${username}" data-th-text="${username}" style="font-style: italic;"></span>
    <span>!</span>
    <br> 
    <p class="fw-light" style="font-style: italic; padding-top: 20px;">"Education is the most powerful weapon which you can use to change the world.” – Nelson Mandela</p>
    </div>

   <!-- <style>
          .contact-icon {
              margin-right: 20px; 
              text-align:left;
          }
      </style>  -->

<!-- <div class="card shadow-lg">
    <div class="card-body" style="padding: 70px; background-color: rgba(211, 205, 203, 0.945);"> -->
        <!-- <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0"> -->
                <section class="container">
                <div class="row">
                <div class="col-sm-6">
                    <div class="card" style="background-color: rgb(211, 212, 212);">
                <div>
                   
        <div class=" card-body"> 
            <p style="font-style: italic; padding-left: 20px;">Faced a problem or have a suggestion on how we can improve our application? </p>
               <p style="font-style: italic; padding-left: 20px"> Feel free to contact us at:</p>
            <p class="contact-icon" style="padding-top: 16px; padding-left: 20px;"> <i class="bi bi-house-door-fill"></i> Singapore 733223, Singapore </p>
            
            <br>
            <p class="contact-icon" style=" padding-left: 20px;"> <i class="bi bi-envelope-fill"></i> xyzdictionary@gmail.com </p>
            
            <br>
            
            <p class="contact-icon" style="padding-left: 20px;"> <i class="bi bi-telephone-fill"></i> +65 6322 8333 </p>
        </div>
    </div>
    </div>
    </div>

    <!-- <div class="card-body" style="padding: 70px; background-color: rgba(211, 205, 203, 0.945);"> -->
        <div class="col-sm-6">
        <div class="card" style="background-color: rgb(211, 212, 212);">
        <div>
        <p style="padding-bottom: 10px; padding-top: 20px; padding-left: 30px;"> Not sure how to use XYZ Dictonary? Refer to below for more information: </p>
        <table>
            <thead>
                <th class="text-uppercase fw-bold" style="padding-bottom: 20px; padding-left: 30px;">Index</th>
            </thead>
            <tbody>
            <tr>
                <td style="padding-bottom: 20px; padding-left: 30px;">1. Home – this is your homepage</td>
            </tr>
            <tr>
                <td style="padding-bottom: 20px; padding-left: 30px;">2. Dictionary – this is where you search for words</td>
            </tr>
            <tr>
                <td style="padding-bottom: 20px; padding-left: 30px;">3. History – every search will saved here, along with the word's definition</td>
            </tr>
            <tr>
                <td style="padding-bottom: 20px; padding-left: 30px;">4. Docs – you can get the link to the REST API from here</td>
            </tr>
            </tbody>
</div>
</section>

<!-- <section class="container">
<div>
<p>"Education is the most powerful weapon which you can use to change the world.” – Nelson Mandela</p>
</div>
</section> -->
    <!-- <a data-th-href="@{/dictionary/search}">
        <button type="button">
            <h3>Check Dictionary</h3>
        </button>
    </a>
    <br>
    <br>
    <a data-th-href="@{/dictionary/logout}">
        <button type="button">
            <h3>Logout</h3>
        </button>
    </a>
    <br>
    <br>
    <a data-th-href="@{/dictionary/history/{username}(username=${username})}">
        <button type="button">
            <h3>History</h3>
        </button>
    </a> -->
    

    
    <footer class="text-center text-lg-start bg-body-tertiary text-muted fixed-bottom">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    </section>
        <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.05);">
        Copyright © 2023 XYZ Foundation
        </div>
    </section>
    </footer>
   
</body>
</html>


