<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <title>Registration Success</title>
</head>
<body>
    <style> 
        .social-icon {
          color: dimgrey;
          margin-right: 30px; 
        }
    </style>

    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark" style="background-color: #060606;" data-mdb-theme="dark">
        <div class="container-fluid">
        <div>
            <span class="ms-2">
    
                <a style="text-decoration:none;" href="https://sg.linkedin.com/in/ng-xuan-yi-1234567890" target="blank" class="social-icon">
                    <i class="bi bi-linkedin" ></i>
                </a>
            
                <a style="text-decoration:none;" href="https://www.facebook.com/" target="blank" class="social-icon">
                    <i class="bi bi-facebook"></i>
                </a>
            
                <a style="text-decoration:none;" href="https://github.com/ngxuanyi" target="blank" class="social-icon">
                    <i class="bi bi-github"></i>
                </a>
            
                <a style="text-decoration:none;" href="https://www.instagram.com/" target="blank" class="social-icon">
                    <i class="bi bi-instagram"></i>
                </a> 
            
                <a style="text-decoration:none;" href="https://www.youtube.com/" target="blank" class="social-icon">
                    <i class="bi bi-youtube"></i>
                </a>
            
                <a style="text-decoration:none;" href="https://www.twitter.com/" target="blank" class="social-icon">
                    <i class="bi bi-twitter"></i>
                </a>
            </span>   
        </div>
        <div class="navbar-header">
            <div class="text-center">
            <img data-th-src="${'/images/XYZdrk.png'}" class="img-logo" alt="logo" height="60px" width="60px" >
            </div>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true" href="#" style="color: #060606;">Placeholdersssss</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" data-th-href="@{/dictionary/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-th-href="@{/dictionary/login}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-th-href="@{/dictionary/docs}">Docs</a>
                </li>
            </ul>
        </div>
    </nav>

    <div  class="text-center" style="margin: 30px; padding-right: 30px;" >
        
            <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="#AEAFA5" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
              </svg>
    <h3 style="padding-top: 20px; padding-bottom: 10px;">Success!</h3>
  
    <p> Congratulations, your account has been successfully created.</p>
        </div>
    <div class="card-shadow-lg p-4 text-center" style="background-color: #d8d8d8; margin-right: 290px; margin-left: 290px; padding-right: 30px;">
    <p class="fw-bold" style="padding-bottom: 20px;"> Start your learning journey today >>> </p>
    <a data-th-href= "@{/dictionary/login}"> 
        <button type="button"> Go back to the login page 
        </button>
    </a>
    <p class="fw-light" style="font-style: italic; padding-left: 70px; padding-right: 70px; padding-top: 35px;"> “Knowledge is the greatest power and it is something no one can see. It cannot be stolen or broken, no one can take it from you.” - John Carrick</p>
    </div>

    <footer class="text-center text-lg-start bg-body-tertiary text-muted fixed-bottom">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        </section>
        <section>
          <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.05);">
            Copyright © 2023 XYZ Foundation
          </div>
        </section>
      </footer>


</body>
</html>